/* I breakepoint sono:
- tablet: 768px
- desktop: 992px */

/* MOBILE FIRST */
/* breakepoint tablet: 768px */
@media screen and (min-width:768px){
    /* prima section */
    /* modifico il blocco piú grande */
    #bigger{
        width: calc(66%);
    }
    /* modifico le colonne normali */
    .col-blue{
        width: calc(100%/3 - 1rem);
    }
    .img-bigger{
        width: 50%;
    }
    /* terza section */
    /* modifico il contenitore del testimonial */
    .testimonial{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1rem;
    }
    /* modifico la grandezza del contenuto */
    .img-test{
        width: 35%;
    }
    .text-test{
        width: 60%;
    }
    /* quarta section */
    /* modifico la larghezza della card */
    .card{
        width: calc(100%/2 - 0.5rem);
    }
    /* quinta section */
    /* modifico la larghezza del contenitore del testo */
    .text-fifth{
        width: 60%;
    }
    /* modifico la larghezza del contenitore dell'immagine */
    .img-fifth{
        width: 30%;
    }
}

/* breakepoint desktop: 992px */
@media screen and (min-width:992px) {
    /* header */
    /* modifico i link e li faccio apparire */
    .header-bar .link{
        display: block;
    }
    /* modifico il simbolo delle barre e lo faccio sparire */
    .header-bar .bars{
        display: none;
    }
    /* prima section */
    /* modifico il blocco piú grande */
    #bigger{
        display: flex;
        justify-content: space-between;
    }
    /* modifico il blocco delle info */
    .info-bigger{
        width: calc(100%/2 - 0.5rem) ;
    }
    /* modifico il blocco dell'immagine */
    .img-bigger{
        width: calc(100%/2 - 0.5rem);
    }
    /* seconda section */
    .row-second{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    /* modifico il blocco del planning 1 */
    .planning1{
        width: calc(100%/2 - 2rem);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    /* modifico il blocco del planning 2 */
    .planning2{
        width: calc(100%/2 - 2rem);
        margin-top: 5rem;
    }
    /* quarta section */
    /* modifico la larghezza della card */
    .card{
        width: calc(100%/3 - 1rem);
    }
}