/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* reset img */
img{
    max-width: 100%;
}
/* custom font */
body{
    font-family: 'PT Sans', sans-serif;
}
/* COMMON CLASS */
.container{
    /* debug */
    margin: 0 auto;
    width: 70%;
    max-width: 992px;
}
/* classe per la section dell'header */
.section-header{
    /* debug */
    min-height: 100px;
    width: 100%;
    background-color:#0084fd;
    padding: 1rem;
}
/* classe per la barra dell'header */
.header-bar{
    /* debug */
    min-height: 100px;
    width: 100%;
    background-color: #0084fd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* classi debug per visualizzare il contenuto della barra dell'header */
.header-bar .logo{
    /* debug */
    background-color: red;
    height: 60px;
    width: 33%;
}
.header-bar .bars{
    /* debug */
    background-color: green;
    height: 60px;
    width: 33%;
}
.header-bar .link{
    /* debug */
    display: none;
    background-color: yellowgreen;
    width: 33%;
    height: 60px;
}
/* classe per la lista dell'header */
.link ul{
    /* debug */
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}
/* classe per i link della lista */
.link a{
    text-decoration: none;
}
/* classe per la prima section */
.first-section{
    /* debug */
    background-color: #ffffff;
    padding: 1rem;
}
/* classe per la row della prima section */
.row-first{
    /* debug */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}
/* classe per le colonne della prima section */
.col-blue{
    /* debug */
    text-align: center;
    padding: 1rem;
    background-color:#b5ddff;
    width: 100%;
    border-radius: 15px;
}
/* classe per le info del blocco grande */
.info-bigger{
    width: 100%;
}
/* classe per l'immagine del blocco grande */
.img-bigger{
    width: 100%;
}
/* seconda section */
/* classe per la seconda section */
.second-section{
    /* debug */
    background-color:#9792e4;
    padding: 1rem;
}
/* classe per la row della seconda section */
.row-second{
    /* debug */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}
/* classe per il planning 1 */
.planning1{
    /* debug */
    width: 100%;
}
/* classe per il planning 2 */
.planning2{
    /* debug */
    background-color: white;
    width: 100%;
    border-radius: 30px;
    text-align: center;
}
/* terza section */
/* classe per la terza section */
.third-section{
    /* debug */
    padding: 1rem;
}
/* classe per il testo della terza section */
.text-third{
    /* debug */
    text-align: center;
}
/* classe per la riga */
.row-third{
    /* debug */
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}
/* classe per il testimonial */
.testimonial{
    /* debug */
    width: 100%;
    padding: 1rem;
    border-radius: 30px;
    background-color:#9792e4;
    text-align: center;
}
/* id della foto del testimonial */
#foto{
    /* debug */
    height: 175px;
    width: 175px;
    border-radius: 50%;
}


