/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* reset img */
img{
    max-width: 100%;
}
/* custom font */
body{
    font-family: 'PT Sans', sans-serif;
}
/* COMMON CLASS */
.container{
    /* debug */
    margin: 0 auto;
    width: 80%;
    max-width: 992px;
}
/* classe per la section dell'header */
.section-header{
    /* debug */
    min-height: 100px;
    width: 100%;
    background-color:#0084fd;
    padding: 1rem;
}
/* classe per la barra dell'header */
.header-bar{
    /* debug */
    min-height: 100px;
    width: 100%;
    background-color: #0084fd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* classi debug per visualizzare il contenuto della barra dell'header */
.header-bar .logo{
    width: 30%;
}
.header-bar .bars{
    width: 30%;
}
/* classe per il bottone con le barre */
.bars button{
    background-color: transparent;
    border: 0;
    color: white;
    width: 100%;
}
/* classe per i link */
.header-bar .link{
    display: none;
    width: 70%;
}
/* classe per la lista dell'header */
.link ul{
    /* debug */
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    gap: 1rem;
}
/* classe per i link della lista */
.link a{
    text-decoration: none;
    color: white;
}
/* id per il bottone cliccabile nei link */
#button-white{
    background-color: white;
    color: black;
    padding: 0.5rem;
    border-radius: 20px;
}
/* classe per la prima section */
.first-section{
    /* debug */
    background-color: #ffffff;
    padding: 1rem;
}
/* classe per la row della prima section */
.row-first{
    /* debug */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}
/* classe per le colonne della prima section */
.col-blue{
    /* debug */
    padding: 1rem;
    background-color:#b5ddff;
    width: 100%;
    border-radius: 15px;
}
/* classe per le info del blocco grande */
.info-bigger{
    width: 100%;
}
/* classe per il titolo delle info */
.titolo-info{
    color: #0084fd ;
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem;
}
#left{
    text-align: left;
}
/* classe per il testo delle info */
.testo-info{
    color: #5a6e7f;
    margin-bottom: 2rem;
    font-size: 1rem;
    text-align: center;
    line-height: 1.5rem;
}
/* classe per il bottone nell'info */
.button-app{
    text-align: center;
    margin-bottom: 1rem;
}
/* id per personalizzare il bottone */
#button-blue{
    background-color: #0084fd;
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 20px;
    text-decoration: none;
}
/* classe per rendere piú grande l'immagine dell'info */
.img-big{
    font-size: 5rem;
}
/* classe per l'immagine del blocco grande */
.img-bigger{
    width: 100%;
}
/* seconda section */
/* classe per la seconda section */
.second-section{
    /* debug */
    background-color:#9792e4;
    padding: 1rem;
}
/* classe per la row della seconda section */
.row-second{
    /* debug */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}
/* classe per il planning 1 */
.planning1{
    /* debug */
    width: 100%;
    color: white;
}
/* classe per il titolo del planning1 */
.titolo-sec{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: bolder;
}
/* classe per il testo del planning1 */
.text-sec{
    line-height: 1.5rem;
    font-size: 0.8rem;
}
/* classe per il planning 2 */
.planning2{
    /* debug */
    background-color: white;
    width: 100%;
    border-radius: 30px;
    text-align: center;
}
/* classe per il titolo del planning2 */
.titolo-sec-black{
    color: black;
    font-size: 1.2rem;
    font-weight: bolder;
    margin-bottom: 1rem;
}
/* classe per il testo del planning2 */
.text-sec-cor{
    color: black;
    font-style: italic;
    font-size: 0.8rem;
    line-height: 1.2rem;
    margin-bottom: 1rem;
}
/* classe per la freccia del planning2 */
.arrow{
    display: inline-block;
    background-color: #9792e4;
    color: black;
    font-size: 1.5rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}
/* terza section */
/* classe per la terza section */
.third-section{
    /* debug */
    padding: 1rem;
}
/* classe per il testo della terza section */
.text-third{
    /* debug */
    text-align: center;
}
/* classe per l'argomento della terza section */
.argomento{
    font-size: 1rem;
    font-weight: lighter;
    padding: 1rem 0;
}
/* classe per il titolo della terza section */
.titolo-ter{
    color: #9792e4;
    font-size: 1.8rem;
    padding: 1rem 0;
}
/* classe per il testo della terza section */
.text-ter{
    line-height: 1.5rem;
    padding: 1rem 0;
}
/* classe per la riga */
.row-third{
    /* debug */
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}
/* classe per il testimonial */
.testimonial{
    /* debug */
    width: 100%;
    padding: 1rem;
    border-radius: 30px;
    background-color:#9792e4;
    text-align: center;
}
/* classe per il testo del testimonial */
.text-test{
    color: white ;
    line-height: 1.5rem;
}
/* classe per il nome del testimonial */
.name-test{
    color: white;
    font-size: 1.2rem;
    font-weight: bolder;
    padding: 1rem 0;
}
/* id della foto del testimonial */
#foto{
    /* debug */
    object-fit: cover;
    height: 175px;
    width: 175px;
    border-radius: 50%;
}
/* quarta section */
/* classe per la quarta section */
.fourth-section{
    /* debug */
    padding: 1rem;
    background-color:#9792e4 ;
}
/* classe per il titolo della quarta section */
.tit-qua{
    font-size: 1.7rem;
    color: white;
    text-align: center;
    padding: 1rem 0;
}
/* classe per la row della quarta section */
.row-fourth{
    /* debug */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}
/* classe per la card */
.card{
    /* debug */
    width: 100%;
    background-color: white;
    padding: 1rem;
    border-radius: 15px;
}
/* classe per il numero della card */
.number{
    color: #9792e4;
    font-size: 2.5rem;
}
/* classe per il titolo della card */
.tit-card{
    color: #9792e4;
    padding: 1rem 0;
    font-size: 1.5rem;
}
/* classe per il testo della card */
.text-card{
    color:#737373;
    line-height: 1.5rem;
    padding: 1rem 0;
}
/* classe per il bottone della card */
.button-card{
    padding: 0.5rem 3rem;
    background-color: #9792e4;
    color: white;
    border-radius: 20px;
    font-weight: bold;
}
/* classe per il bottone della classe */
.card a{
    /* debug */
    text-decoration: none;
}
/* quinta section */
/* classe per la row della quinta section */
.row-fifth{
    /* debug */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}
/* classe per il testo della quinta section */
.text-fifth{
    /* debug */
    width: 100%;
    padding: 1rem ;
    line-height: 2rem;
}
/* classe per il titolo della quinta section */
.tit-fif{
    color: #9792e4;
    font-size: 2.5rem;
    padding: 1rem 0;
}
/* classe per l'immagine e il testo sotto di essa della quinta section */
.img-fifth{
    /* debug */
    width: 100%;
    margin-bottom: 2rem;
}
/* classe per il testo sotto l'immagine */
.text-img{
    color: #9792e4;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
/* classe per il bottone sotto l'immagine */
.button-img{
    padding: 0.5rem 1rem;
    background-color: #9792e4;
    color: white;
    border-radius: 20px;
    text-decoration: none;
}
/* sesta section */
/* classe per la sesta section */
.sixth-section{
    /* debug */
    padding: 1rem;
    background-color: #9792e4 ;
}
/* classe per il testo della sesta section */
.text-sixth{
    /* debug */
    margin: 0 auto;
    text-align: center;
    line-height: 1.5rem;
}
/* classe per il primo testo della sesta section */
.first-text-six{
    font-size: 1rem;
    color: #d5d4f4;
}
/* classe per il titolo in bianco della sesta section */
.tit-text-white{
    font-size: 1.5rem;
    color: white;
    margin-top: 2rem;
}
/* classe per il titolo in giallo della sesta section */
.tit-text-yellow{
    color: #fdc15f;
    font-size: 2.5rem;
    margin-top: 2rem;
}
/* classe per il paragrafo della sesta section */
.paragraph-six{
    color: white;
    margin-top: 1.5rem;
}
/* classe per il link dentro le privacy policy della sesta section */
.paragraph-six a{
    color: inherit;
}
/* classe del contenitore del bottone */
.button-six{
    margin: 1.5rem 1.5rem;
}
/* classe del bottone della sesta section */
.button-six a{
    padding: 1rem 4rem;
    background-color: white;
    font-weight: bold;
    color: #9792e4;
    border-radius: 20px;
    text-decoration: none;
}
/* classe per la settima section */
.seventh-section{
    /* debug */
    width: 100%;
    padding: 2rem;
    background-color:#333333;
}
/* classe per il contenitore del testo */
.text-seventh{
    /* debug */
    margin: 0 auto;
    width: 70%;
    margin-bottom: 3rem;
    color: white;
    text-align: center;
}
.text-seventh a{
    color: #837fc1;
}